.main {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 2000px;

  .container {
    max-width: 800px;
    height: 500px;
    padding-top: 74px;

    .header {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 14px;
    }

    .title {
      font-size: 32px;
      font-weight: 700;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }


  }

  .add-root {
    .info-box {
      display: flex;
      box-shadow: 0px 4px 14px 0px #00000026;
      margin-top: 48px;

      .left {
        width: 100px;
        height: 100px;
        background: radial-gradient(84.9% 100% at 50% 0%, #8F00FF 0%, #532BC5 100%);
        display: flex;
        justify-content: center;
        align-items: center;

      }

      .right {
        padding-left: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;

        :nth-child(1) {
          font-size: 12px;
          color: #606060;
        }

        :nth-child(2) {
          font-size: 16px;
          color: #1F1F2C;
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }

    .button-box {
      display: flex;
      box-shadow: 0px 4px 14px 0px #00000026;
      margin-top: 48px;

      .button {
        width: 50%;
        height: 41px;
        text-align: center;
        line-height: 41px;
        font-size: 14px;

        &:nth-child(1) {
          background-color: #fff;

        }

        &:nth-child(2) {
          background-color: #532BC5;
          color: #fff;

          span {
            padding: 1px 8px;
            box-sizing: border-box;
            background-color: #fff;
            color: #532BC5;
            border-radius: 10px;
            margin-left: 10px;
          }
        }
      }
    }

    .input {
      width: 100%;
      height: 40px;
      border: 1px solid #00000033;
      margin-top: 47px;
      padding: 10px;
      box-sizing: border-box;
    }

    .quill {
      margin-top: 24px;
    }

    .sumb {
      width: 390px;
      height: 48px;
      background: radial-gradient(50% 115.18% at 50% -15.18%, #8F00FF 0%, #532BC5 100%);
      color: #fff;
      border-image-source: linear-gradient(180deg, rgba(226, 51, 255, 0.5) 0%, rgba(163, 73, 205, 0) 100%);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      margin-top: 24px;
    }
  }



  :global {
    .ql-editor {
      min-height: 360px;
      max-height: 500px;
    }
  }
}

.cart-root {
  margin-top: 56px;

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .left {
      font-size: 16px;
      color: #fff;
      padding: 4px 16px;
      box-sizing: border-box;
      border-radius: 10px;
      background: radial-gradient(50% 115.18% at 50% -15.18%, #8F00FF 0%, #532BC5 100%);
    }

    .right {
      display: flex;
      gap: 8px;

      .edit-box {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        padding: 4px 18px;
        background-color: #C4C4C4;
        color: #fff;
        border-radius: 50px;
        cursor: pointer;

        &:hover {
          background-color: #532BC5;

        }

      }

      .delete-box {
        width: 26px;
        height: 26px;
        background-color: #C4C4C4;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
          background-color: #FF002E !important;
        }
      }
    }

    .xian {
      position: absolute;
      left: 0;
      top: 15px;
      width: 100%;
      border-bottom: 1px solid #0000001A;
      z-index: -1;
    }
  }

  .content {
    margin-top: 20PX;
  }
}

.edit-input {
  width: 100%;
  height: 40px;
  border: 1px solid #00000033;
  padding: 10px;
  box-sizing: border-box;
}

.edit-quill {
  margin-top: 24px;
  min-height: 400px;
  max-height: 500px;
}

.edit-button {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .edit-button-left {
    width: 390px;
    height: 48px;
    cursor: pointer;
    border: 1px solid;
    border-image-source: linear-gradient(180deg, rgba(226, 51, 255, 0.5) 0%, rgba(163, 73, 205, 0) 100%);
    background: radial-gradient(50% 115.18% at 50% -15.18%, #8F00FF 0%, #532BC5 100%);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }

  .edit-button-right {
    display: flex;
    cursor: pointer;

    justify-content: center;
    align-items: center;
    gap: 4px;

  }
}